{
    "presets": [
        "@babel/preset-env",
        [
            "minify",
            {
                "builtIns": false,
                "evaluate": false,
                "mangle": true
            }
        ]
    ],
    "plugins": []
}